In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO  # To create DF from string

In [2]:
# Extracted SPB's discography to local html file

pageSoup = BeautifulSoup(open("tamil-spb.html"), "html.parser")

In [3]:
details = pageSoup.find_all('table', attrs={'class': 'wikitable plainrowheaders'})
print("Number of Years SPB has sung {}".format(len(details)))

Number of Years SPB has sung 53

In [4]:
## Number of Songs per year

song_count = {}
for i in range(0,len(details)):
    rows = details[i].findAll('tr')
#     print(i, len(rows)-1)
    song_count[i] = len(rows)-1
print(song_count)

{0: 5, 1: 9, 2: 23, 3: 9, 4: 17, 5: 9, 6: 1, 7: 2, 8: 3, 9: 18, 10: 47, 11: 6, 12: 5, 13: 11, 14: 25, 15: 8, 16: 96, 17: 28, 18: 14, 19: 22, 20: 57, 21: 97, 22: 54, 23: 84, 24: 40, 25: 55, 26: 54, 27: 71, 28: 48, 29: 23, 30: 56, 31: 39, 32: 21, 33: 30, 34: 23, 35: 12, 36: 10, 37: 12, 38: 10, 39: 1, 40: 8, 41: 3, 42: 3, 43: 1, 44: 2, 45: 4, 46: 1, 47: 2, 48: 2, 49: 2, 50: 3, 51: 3, 52: 1}

In [5]:
song_df = pd.DataFrame(song_count.items(), columns=['year_id', 'SongCount'])

In [6]:
song_df

    year_id  SongCount
0         0          5
1         1          9
2         2         23
3         3          9
4         4         17
5         5          9
6         6          1
7         7          2
8         8          3
9         9         18
10       10         47
11       11          6
12       12          5
13       13         11
14       14         25
15       15          8
16       16         96
17       17         28
18       18         14
19       19         22
20       20         57
21       21         97
22       22         54
23       23         84
24       24         40
25       25         55
26       26         54
27       27         71
28       28         48
29       29         23
30       30         56
31       31         39
32       32         21
33       33         30
34       34         23
35       35         12
36       36         10
37       37         12
38       38         10
39       39          1
40       40          8
41       41          3
42       42          3
43       43          1
44       44          2
45       45          4
46       46          1
47       47          2
48       48          2
49       49          2
50       50          3
51       51          3
52       52          1

## SPB's active years

In [7]:
import requests

In [8]:
spb_disco_url = 'https://en.wikipedia.org/wiki/S._P._Balasubrahmanyam_discography'

In [9]:
page = requests.get(spb_disco_url)
soup = BeautifulSoup(page.content, 'html.parser')

In [10]:
tamil_index = 0
tamil_years = []
years = soup.find_all('span', attrs={'class': 'mw-headline'})

for index, elem in enumerate(years):
    if elem.get_text() == 'Tamil discography':
        tamil_index = index
try:
    for index, elem in enumerate(years):
        if index > tamil_index and int(elem.get_text()) <= 2022:
            years = elem.get_text()
            tamil_years.append(years)
except:
    print("SPB's active years in Tamil Language")
#     print(tamil_years)

SPB's active years in Tamil Language

In [11]:
try:
    for index, elem in enumerate(years):
        if index > tamil_index and int(elem.get_text()) <= 2022:
            years = elem.get_text()
            tamil_years.append(years)
except:
    print("SPB's active years in Tamil Language")
print(tamil_years, len(tamil_years))

['1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2016', '2017', '2018', '2019', '2020', '2021'] 52

In [12]:
active_years = {}

for index, elem in enumerate(tamil_years):
#     print(index, elem)
    active_years[index] = elem

print(active_years, len(active_years))

{0: '1969', 1: '1970', 2: '1971', 3: '1972', 4: '1973', 5: '1974', 6: '1975', 7: '1976', 8: '1977', 9: '1978', 10: '1979', 11: '1980', 12: '1981', 13: '1982', 14: '1983', 15: '1984', 16: '1985', 17: '1986', 18: '1987', 19: '1988', 20: '1989', 21: '1990', 22: '1991', 23: '1992', 24: '1993', 25: '1994', 26: '1995', 27: '1996', 28: '1997', 29: '1998', 30: '1999', 31: '2000', 32: '2001', 33: '2002', 34: '2003', 35: '2004', 36: '2005', 37: '2006', 38: '2007', 39: '2008', 40: '2009', 41: '2010', 42: '2011', 43: '2012', 44: '2013', 45: '2014', 46: '2016', 47: '2017', 48: '2018', 49: '2019', 50: '2020', 51: '2021'} 52

In [13]:
years_df = pd.DataFrame(active_years.items(), columns=['year_id', 'Year'])
years_df

    year_id  Year
0         0  1969
1         1  1970
2         2  1971
3         3  1972
4         4  1973
5         5  1974
6         6  1975
7         7  1976
8         8  1977
9         9  1978
10       10  1979
11       11  1980
12       12  1981
13       13  1982
14       14  1983
15       15  1984
16       16  1985
17       17  1986
18       18  1987
19       19  1988
20       20  1989
21       21  1990
22       22  1991
23       23  1992
24       24  1993
25       25  1994
26       26  1995
27       27  1996
28       28  1997
29       29  1998
30       30  1999
31       31  2000
32       32  2001
33       33  2002
34       34  2003
35       35  2004
36       36  2005
37       37  2006
38       38  2007
39       39  2008
40       40  2009
41       41  2010
42       42  2011
43       43  2012
44       44  2013
45       45  2014
46       46  2016
47       47  2017
48       48  2018
49       49  2019
50       50  2020
51       51  2021

## Joining the song vs years Tables

In [14]:
join_df = pd.merge(
    years_df,
    song_df[['year_id','SongCount']],
    how="inner",
    on='year_id')

In [18]:
join_df

    year_id  Year  SongCount
0         0  1969          5
1         1  1970          9
2         2  1971         23
3         3  1972          9
4         4  1973         17
5         5  1974          9
6         6  1975          1
7         7  1976          2
8         8  1977          3
9         9  1978         18
10       10  1979         47
11       11  1980          6
12       12  1981          5
13       13  1982         11
14       14  1983         25
15       15  1984          8
16       16  1985         96
17       17  1986         28
18       18  1987         14
19       19  1988         22
20       20  1989         57
21       21  1990         97
22       22  1991         54
23       23  1992         84
24       24  1993         40
25       25  1994         55
26       26  1995         54
27       27  1996         71
28       28  1997         48
29       29  1998         23
30       30  1999         56
31       31  2000         39
32       32  2001         21
33       33  2002         30
34       34  2003         23
35       35  2004         12
36       36  2005         10
37       37  2006         12
38       38  2007         10
39       39  2008          1
40       40  2009          8
41       41  2010          3
42       42  2011          3
43       43  2012          1
44       44  2013          2
45       45  2014          4
46       46  2016          1
47       47  2017          2
48       48  2018          2
49       49  2019          2
50       50  2020          3
51       51  2021          3

In [21]:
join_df.columns

Index(['year_id', 'Year', 'SongCount'], dtype='object')

In [30]:
years_songs_df = join_df[['year_id', 'Year', 'SongCount']].set_index('year_id')

In [32]:
years_songs_df.to_csv('years-song.csv', sep=',')